* {
    margin: 0;
    padding: 0;
}
#container {
    width: 600px;
    height: 175px;
    background: gray;
    padding: 10px;
    position: relative;
}
#container h1 {
    font-size: 26px;
    padding: 0;
    margin: 0;
    color: blue;
}
#color-code {
    line-height: 22px;
}
#color-appearance {
    width: 75px;
    height: 75px;
    background: white;
    margin-top: 20px;
}
#info {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: green;
}