<section id="departures">
    <h1>Upcoming departures</h1>
    {% if scheduled %}
    <ul>
        {% for train in scheduled %}
        <li><a href="{% url trains.views.view train.id %}">{{ train.description }}</a>:
            Created By <span>{{ train.username }}</span>,
            departing at {{ train.departure }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No trains are available.</p>
    {% endif %}
</section>

<section id="ongoing">
    <h1>Ongoing trains</h1>
    {% if ongoing %}
    <ul>
        {% for train in ongoing %}
        <li><a href="{% url trains.views.view train.id %}">{{ train.description }}</a>:
            Created By <span>{{ train.username }}</span>,
            departed at {{ train.departure }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No trains are available.</p>
    {% endif %}
</section>

<section id="arrivals">
    <h1>Latest arrivals</h1>
    {% if arrived %}
    <ul>
        {% for train in arrived %}
        <li><a href="{% url trains.views.view train.id %}">{{ train.description }}</a>:
            Created By <span>{{ train.username }}</span>,
            arrived at {{ train.departure }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No trains are available.</p>
    {% endif %}
</section>

{% include 'trains/views/_train_form.html' %}